#Folders
Build/
Bin/
Binaries/
Lib/
Logs/
enc_temp_folder/
Examples/
Generated/
Tests/

#Settings
*.json

#logs
*.bsc
*.htm

# Binaries
*.exe
*.iobj
*.ipdb
*.pdb
*.ilk
*.dmp

# Visual Studio Files
*.suo
*.csproj.user
*.vbproj.user
*.user
*.vcxproj.filters
*.vcxproj.user
ipch
*sdf
\.vs/